body {
	background: #052049;
}

#coverpage {
		/*display:none;#a4dded;*/
		background: #052049; 
		/*opacity:0.6;
		filter:alpha(opacity=60);*/
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		text-align: center;
		margin:0 auto;
		padding: 0px 0px 0px 0px;
		color: #ffffff;
		/*The z-index property determines the stack level of an HTML element.*/
	}
#tophalf {
	background:#ffffff;
	width:100%;
	height:100%;
}

#header {
		/*panel for the header/
		/*display:none;*/
		background: #ffffff; /*#dd2af0;
		opacity:0.6;
		filter:alpha(opacity=60); */
		position:absolute;
		left:25%;
		top:7%;
		width:50%;
		height:44%;
		float:center;
		text-align: center;
		color: #000000;
		margin-top:29px;
		margin-bottom: 1%;
		/*The z-index property determines the stack level of an HTML element.*/
	}
#something {
	position:absolute;
	background: #4522cf;
	width:100%;
	height:10%;
	top:83%;
}
#training { /*out of use*/
	top: 50%;
	position: absolute;
	float: left;
	left: 20%;
	width: 250px;
	height: 250px;
	/*background: #ffff22;*/
	font-size: 20px;
}
#evaluation { /*out of use*/
	top: 50%;
	position: absolute;
	float: left;
	left: 56%;
	width: 250px;
	height: 250px;
	background: none;
	font-size: 20px;
}
#faqBanner {
	position: absolute;
	width: 100%;
	/*background: #0099cc;*/
	background: #052049; /*changed by Serena*/
	top:62%; /*changed by Serena*/
	height: 50%;
}
#faqQuick {
	position: absolute;
	width: 60%;
	left: 7%;
	text-align: left;
	padding-left: 0px;
	margin-top: 20px;
	font-size: 22px;
}
#fillThis1 {
	position: absolute;
	left: 80%;
	top: -18px;
	margin-top: 50px;
	padding-right: 0px;
	background: none;
	font-size: 16px;
	width: 48%;
	height: 60%;
	color: #000000;
	text-align: justify;
    /*text-justify: inter-word;*/
}
.questions {
	font-size: 16px;
	color: #ffffff;
	text-align: justify;
}
.choiceButtons {
	position:relative;
	float:left;
	top: 30%;
	margin-right: 4%;
	margin-top: 3%;
}
#resizeTraining {
	margin-left: 28%;
}
#Ttext {
	float:left;
	width: 44%;
	min-width: 144px;
	margin-left: 28%;
	background: none;
	margin-bottom: 10px;
}

#headerLinks {
	background: none;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 70%
}
#q2 {
	text-align: left;
}

#t {
	position: relative;
	float: left;
	width: 50%;
	min-width:70px;
	padding: 0px 0px 0px 0px;
	min-height: 12px;
}

#e {
	position:relative;
	float: left;
	width: 50%;
	min-width:70px;
	padding: 0px 0px 0px 0px;
	height: 15px;
}

.invisible {
	display: none;
}

.changecolor {
	color: #178ccb;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

/*#footer {
	position: absolute;
	top: 130%;
	background: #000000;
	font-size: 14px;
	width: 100%;
	height: 10%;
}*/
h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-weight: light;
 	font-size: 30px; 
}
a:link {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #178ccb;
}

a.faqh:link {
	/*color: #a4edb4;*/
	text-decoration: none;
	color: #178ccb;
}

a.faqh:visited {
	/*color: #a4edb4;*/
	text-decoration: none;
	color: #178ccb;
}

a.faqh:hover {
	/*color: #a4edb4;*/
	text-decoration: none;
	color: #ffffff;
}

a.tebutton:link {
	text-decoration: none;
	color: #052049;/*changed by Serena*/
}
a.tebutton:hover {
	text-decoration: none;
	color: #052049;/*changed by Serena*/
}
a.tebutton:active {
	text-decoration: none;
	color: #052049;/*changed by Serena*/
}
a.tebutton:visited {
	text-decoration: none;
	color: #052049;/*changed by Serena*/
}