#cSpan {
	background: none;
	width: 100%;
	height: 100%; /*added by Serena*/
	text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #052049; /*normal background color of buttons */
  border-color: #031631; /*slightly darker than normal background */
  min-width: 300px;
  width: 300px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: light;
  font-size: 30px; 
}

a:link {
	text-decoration: none;
	color: #ffffff;/*changed by Serena*/
}
a:hover {
	text-decoration: none;
	color: #ffffff;/*changed by Serena*/
}
a:active {
	text-decoration: none;
	color: #ffffff;/*changed by Serena*/
}
a:visited {
	text-decoration: none;
	color: #ffffff;/*changed by Serena*/
}