body {
	background: #052049;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-weight: light;
}

#sideHolder {
	float:left;
	width:33%;
	height:95%;
}

#slideshow {
	background: #ffffff; 
	/*opacity:0.6;
	filter:alpha(opacity=60);*/
	float:left;
	width:100%;
	height:60%;
	text-align: center;
	margin:0 auto;
	padding: 0px 0px 0px 0px;
	color: #23834f;
}

#launch {
	background: #ededee; 
	/*opacity:0.6;
	filter:alpha(opacity=60);*/
	float:left;
	width:100%;
	height:40%;
	text-align: center;
	margin:0 auto;
	padding: 0px 0px 0px 0px;
	color: #23834f;
}

#infoHolder {
	background: #ffffff; 
	/*opacity:0.6;
	filter:alpha(opacity=60);*/
	float:left;
	width:67%;
	height:95%;
	text-align: center;
	margin:0 auto;
	padding: 0px 0px 0px 0px;
	color: #23834f;
}

#headerHolder {
	background: none; 
	/*opacity:0.6;
	filter:alpha(opacity=60);*/
	width:80%;
	text-align: center;
	margin-left: 10%;
	margin-top: 15px;
	padding: 0px 0px 0px 0px;
	color: #23834f;
}

#stripe {
	background: #178ccb; 
	/*opacity:0.6;
	filter:alpha(opacity=60);*/
	margin-top: 50px;
	width:100%;
	height:70px;
	text-align: center;
	padding-top: 20px 20px 20px 20px;
	color: #ffffff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-weight: light;
	font-size: 20px; 
}

.about {
	background: #178ccb;
	float:left;
	opacity:0.8;
	/*filter:alpha(opacity=60);
	margin-top: 50px;*/
	width:25%;
	height:70px;
	text-align: center;
	border: 1px solid #ffffff;
	padding: 20px 20px 20px 20px;
	color: #ffffff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-weight: light;
	font-size: 20px; 
}

#holdInfo {
	position: absolute;
	bottom: 0px;
	margin-top: 50px;
	background:#ffffff;
	/*background:#ededee;*/
	height: 70%;
	width: 67%;
}

#tabs {
  color: #052049;
  background-color: #ffffff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: light;
  font-size: 18px; 
}


.btn-primary {
  color: #fff;
  background-color: #052049; /*normal background color of buttons */
  border-color: #031631; /*slightly darker than normal background */
  margin-top: 60px;
  width: 80%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: light;
  font-size: 30px; 
}

.undo {
  width: 100px !important;
  padding-left: -15px;
}


.cGap {
  color: #052049;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: light;
  font-size: 30px; 
}







